// !Доделать адаптив и приступать учить js.

// === import ===

@import "null";

// === /import ===


// === fonts ===



// === /fonts ===


// === variables ===

$fontFamily: 'Open Sans', sans-serif;
$wrapper: 941px;
// $maxWidth: 

$white: #fff;
$text: #48555B;
$border: #E6E6E6;
$button: #00A4E5;
$background: #F2F2F2;
$form-color: #171819;


// === /variables ===


// === templates ===

%button-style{
    background-color: $button;
    color: #fff;
    padding: 11px 29px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.5px;
}

%button-hover{
    text-decoration: underline;
}

%title-style{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px;
    position: relative;
}

%line-style{
    content: '';
    display: block;    
    width: 50px;
    height: 2px;
    background: $button;
    position: absolute;
    left: 0; 
    right: 0;
    bottom: -11px;
}

// === /templates ===


// === mixins ===



// === /mixins ===


// === common ===

body{
    font-family: $fontFamily;
    background-color: $background;
    position: relative;
}

.wrapper{
        margin: 0 auto;
        max-width: $wrapper;
    }

// === /common ===


// === section-hero ===

.section-hero{
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    color: $white;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 71px;   
    // max-width: 100%; 

    &__logo{
        margin-bottom: 317px;
    }                       

    &__title{
        font-size: 60px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 21px;
    }

    &__subtitle{
        font-size: 16px;
        font-weight: 600;
        line-height: 21px; 
        margin-bottom: 221px;
    }

    &__scroll{
        text-decoration: none;
        color: $white;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 3px;

        &:hover{
            text-decoration: underline;
        }
    }
}

// === /section-hero ===


// === header ===

.header{
    
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $border;
    // position: fixed;
    // width: 100%;
    // top: 750px;
    // z-index: 50;
    // padding-top: 33px;
    // padding-bottom: 33px;
    // background-color: $background;

    // &::before{
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #fff; 
    // }

    &__menu_invisible{
        display: none;
    }

    &__row{
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list{
        display: flex;

        li{
            margin-left: 40px;

            &:first-child{
                margin-left: 0;
            }
        }

    }

    &__link{
        color: $text;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 1px; 

        &:hover{
            color: $button;
        }
    }
    
    .header__burger{
        width: 45px;
        height: 45px;
        background-color: transparent;
        border: 1px solid grey;
        border-radius: 50%;
        position: absolute;
        top: -13px;
        right: 0;
        z-index: 3;
         
        
        &:hover{
            cursor: pointer;
        }
        
        span{
            background-color: grey;
            position: absolute;
            width: 23px;
            height: 2px;
            top: 50%;
            margin-top: -1px;
            right: 50%;
            margin-right: -12px;

            &::before, &::after{
                content: "";
                background-color: grey;
                position: absolute;
                width: 23px;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                right: 50%;
                margin-right: -12px;
                transition: 0.5s;
            }

            &::before{
                transform: translateY(-6px);
            }

            &::after{
                transform: translateY(6px);
            }
        }
    }

    .header__burger-icon_active span::before{
        transform: rotate(45deg);
    }

    .header__burger-icon_active span{
        height: 0;
    }

    .header__burger-icon_active span::after{
        transform: rotate(-45deg);
    }
}

// === /header ===


// === section-story ===

.section-story{
    padding-top: 58px;
    padding-bottom: 59px;
    color: $text;

    &__title{
        @extend %title-style;
        text-align: center;
        margin-bottom: 68px;
        

        &::after{
            @extend %line-style;
            margin-left: auto; 
            margin-right: auto; 
        }
    }

    &__row{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__text-container{
        max-width: 398px;
    }

    &__text_strong{
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 30px;

        span{
            color: $button;
        }
    }

    &__text{
        font-size: 13px;
        line-height: 23px;
        font-weight: 400;
    }

    &__img-container{
        max-width: 460px;
        max-height: 224px;
        display: flex;
        
    }

    &__img-block{
        width: 140px;
        height: 224px;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }
    }

    &__img-block01{
        background-image: url(../img/plan.png);
        background-repeat: no-repeat;
        background-size: cover;  // 100% 100%
    }

    &__img-block02{
        background-image: url(../img/manage.png);
        background-repeat: no-repeat;
        background-size: cover;  // 100% 100%
    }

    &__img-block03{
        background-image: url(../img/build.png);
        background-repeat: no-repeat;
        background-size: cover;  // 100% 100%
    }

    &__img-text{
        font-weight: 800;
        font-size: 24px;
        color:  rgba(255, 255, 255, 1);
        margin: 15px 0 0 14px;
    }
}

// === /section-story ===


// === section-capabilities ===

.section-capabilities{
    padding-top: 59px;
    padding-bottom: 115px;

    &__row-top{
        display: flex;    
        justify-content: space-between;
        margin-bottom: 78px;
    }

    &__title{
        @extend %title-style;   

        &::after{
            @extend %line-style;
            bottom: 0;
        }
    }

    &__text{
        max-width: 586px;
        display: flex;
        align-items: center;
    }

    &__subtitle{
        max-width: 384px;;
        font-size: 11px;
        line-height: 19px;
        margin-right: 52px;
    }

    &__btn{
        @extend %button-style;

        &:hover{
            @extend %button-hover;
        }
    }

    &__row-bottom{
        display: flex;
    }

    &__item{
        max-width: 295px;
        padding: 38px 22px 38px 22px;
        border: 1px solid $border;
        margin-right: 20px;

        &:last-child{
            margin-right: 0;
        }
    }

    &__img{
        margin-bottom: 25px;
    }

    &__item-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 13px;
    }
}

// === /section-capabilities ===


// === section-question ===

.section-question{
    // padding-top: 120px;
    // padding-bottom: 231px;
    padding: 175px 0;
    background-image: url(../img/question-bg.png);
    background-repeat: no-repeat;
    // background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    color: $white;
    text-align: center;

    &__title{
        color: $text; 
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 35px;
    }

    &__btn{
        @extend %button-style;
        padding: 11px 26px;

        &:hover{
            @extend %button-hover;
        }
    }
}

// === /section-question ===


// === section-form ===
.section-form{
    margin-top: -1px;
    background-color: $form-color;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 31px;
    text-align: center;

    &__row{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title{
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        margin-right: 70px;
        margin-bottom: 5px;
    }

    &__email{
        padding: 10px 98px 10px 16px;
    }

    &__btn{
        @extend %button-style;
        padding: 10px 49px 9px 49px;
        margin-left: -4px;  

        &:hover{
            text-decoration: underline;
        }
    }
}

// === /section-form ===


//* === footer ===

// === footer-top ===

.footer-top{
    padding-top: 42px;
    padding-bottom: 40px;
    background-color: #141A20;
    color: #fff;

    &__row{
        display: flex;
        // justify-content: space-between;
    }

    &__item01{
        max-width: 250px;
        margin-right: 71px;
    }

    &__item01-title{
        margin-bottom: 19px;
        font-size: 11px;
        line-height: 14px;
    }

    &__item01-subtitle{
        margin-top: 15px;
        font-size: 11px;
        line-height: 19px;
    }

    &__item-big{
        display: flex;
        max-width: 262px;
    }

    &__item-small01{
        margin-right: 34px;
        width: 76px;
    }

    &__item-small01-title{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 10px;
    }

    &__item-small-list{
        li{
            margin-bottom: 11px;


            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__item-small-link{
        font-size: 11px;
        font-weight: 600;
        color: #fff;  

        &:hover{
            text-decoration: underline;
        }
    }

    &__item-small02{
        margin-right: 38px;
    }

    &__item-small02, &__item-small03{
        margin-top: 25px;
    }

    &__item02{
        max-width: 141px;
        margin-left: 58px; 
        
        &-adress{
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 17px;
        }

        a{
            display: block;
        }

        &-tel, &-email{
            color: #fff;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        &-tel{
            margin-bottom: 10px;
        }
    }

    &__item-icons{
        display: flex;
        width: 87px;
        justify-content: space-between;
        margin-left: 46px;
        margin-top: 30px;  
        margin-right: 1px;

        &__link{
            margin-right: 24px;
            color: #fff;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

// === /footer-top ===


// === footer-bottom ===

.footer-bottom{
    padding: 22px 0;
    text-align: center;
    background-color: $form-color;
    color: #fff;

    &__info{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;

    }
}

// === /footer-bottom ===

//* === /footer ===


// === media ===

@media (max-width: 100000px) {

     // === header ===

    .header__burger{
        display: none;
    }

    // === /header ===
    
}

@media (max-width: 1400px){

    // * Все секциии отображаются корректно.

}


@media (max-width: 1200px){

    // === section-hero ===

    .section-hero__logo{
        margin-bottom: 159px;
    }

    .section-hero__subtitle{
        margin-bottom: 111px;
    }

    // === /section-hero ===

    // * Все секциии отображаются корректно.

}


@media (max-width: 992px){

    // === common ===
    
    .wrapper{
        padding: 0 10px;
    }

    // === /common ===
    

    // === section-question ===

    .section-question{
        padding: 88px 0;
    }

    // === /section-question ===


    // === footer-top ===

    .footer-top__row{
        justify-content: space-between;
    }

    // === /footer-top ===

}


@media (max-width: 888px){

    // === section-hero ===

    .section-hero__title{
        font-size: 50px;
    }

    .section-hero__subtitle{
        font-size: 15px;
    }

    // === /section-hero ===

   // === section-story ===

   .section-story{
        padding-top: 29px;
        padding-bottom: 59px;

   }

   .wrapper-story{
        max-width: 750px;
        
   }

    .section-story__row{
        align-items: center;
    }

    .section-story__img-container{
        margin-left: 20px;
    }
   
   // === /section-story ===

}

@media (max-width: 888px){

    // === section-capabilities ===

    .section-capabilities__row-top{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .section-capabilities__text{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .section-capabilities__title{
        margin-bottom: 30px;

        &::after{
            margin: 0 auto;
            bottom: -11px;
        }
    }

    .section-capabilities__subtitle{
        margin: 0;
        width: auto;
        margin-bottom: 30px;
        font-size: 17px;
        max-width: 100%;
    }

    .section-capabilities__btn{
        margin-bottom: 30px;
    }
    

    // === /section-capabilities ===
}

@media (max-width: 768px){

    //  === common ===

    .wrapper{
        max-width: 700px;
    }

    //  === /common ===


    // === section-story ===

    .section-story{
        &__row{
            flex-direction: column;
            
        }
    
        &__text-container{
            max-width: 100%;
        }

        &__img-container{
            margin: 30px 0 0 0;
            justify-content: space-between;
            width: 100%;
            max-width: 100%;
        }
    }

    // === /section-story ===


    // === section-capabilities ===

    .section-capabilities{
        padding-bottom: 58px;
    }

    // === /section-capabilities


    // === seciotn-form ===

    .section-form__row{
        flex-direction: column;
        text-align: center;
        
    }

    .section-form__title{
        margin-right: 0;
        margin-bottom: 30px;
    }

    // === /seciotn-form ===


    // === footer-top ===

    .footer-top__row{
        flex-wrap: wrap;
        justify-content: stretch;
        justify-content: space-around;
    }

    .footer-top__item02, .footer-top__item01, .footer-top__item-big, .footer-top__item-icons{
        margin-left: 0;
        margin-right: 0;
    }

    .footer-top__item-big{
        margin-right: 10px;
    }

    // === /footer-top ===
}

@media (max-width: 627px){
    .footer-top__item02{
        margin-top: 30px;
    }

    .footer-top__row{
        justify-content: space-between;
    }
    
    
}

@media (max-width: 562px){
    // ! Адаптировать футер??
    // === header ===

    .header__menu{
        display: none;
    }

    .header__burger{
        display: block;
    }

    // === /header ===


    // === section-story ===

    .section-story{
        padding-bottom: 49px;

        &__title{
            margin-bottom: 40px;
        }
    
        &__text_strong{
            text-align: center;
            margin-bottom: 23px;
        }
    
        &__text{
            text-align: center;
        }
    }

    // === /section-story ===


    // === section-capabilities ===

    .section-capabilities__row-bottom{
        flex-direction: column;
        align-items: center;
    }

    .section-capabilities__item{
        margin: 0;
        margin-top: 10px;;
        max-width: 90%;

        &:first-child{
            margin-top: 0;
        }
    }

    // === /section-capabilities ===
}


@media (max-width: 512px) {
    // === section-hero ===

    .section-hero{
        &__logo{
            margin-bottom: 80px;
        }

        &__title{
            font-size: 40px;
        }

        &__subtitle{
            margin-bottom: 56px;
        }
    }

    // === /section-hero ===


    // === section-story ===

    .section-story {
        &__img-text{
            font-size: 20px;
        }
    }

    // === /section-story ===

    
    // === section-question ===

    .section-question{
        padding: 44px 0;
    }

    // === /section-question ===


    // === section-form ===

    .section-form{
        &__btn{
            margin-top: 20px;   
        }
    }

    // === /section-form ===


    // === footer-top ===

    .footer-top{
        &__item-big{
            margin-top: 20px;
        }

        &__item02 {
            margin-top: 22px;
            // margin-left: 20px;
        }
    }

    // === /footer-top ===
}


@media (max-width: 484px){
    .footer-top__item-icons{
        justify-self: center;
        margin: 30px auto 0 auto;
    }
}


@media (max-width: 399px){
    // === section-story ===

    .section-story {
        &__img-text{
            font-size: 18px;
            margin: 15px auto 0 auto;
            text-align: center;
        }
    }

    // === /section-story ===
}


@media (max-width: 364px){
    // === section-story ===

    .section-story {
        &__img-text{
            font-size: 16px;
        }
    }

    // === /section-story ===
}


@media (max-width: 300px){
    // === section-story ===

    .section-story {
        &__img-text{
            font-size: 14px;
        }
    }

    // === /section-story ===
}


@media (max-width: 290px) {
    // === section-form ===

    .section-form {
        &__email{
            padding: 11px 76px 10px 10px;
        }
    }

    // === /section-form ===
}


// === /media ===